@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The testing center website</h1>
    <p class="lead">
        This website is created for users who want to make their own tests in any subject.
        It's flexible enough to cover all main tests format and can be used for individual or group exam preparation.
    </p>
</div>
