@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The testing center website</h1>
    <p class="lead">
        This website is created for users who want to make their own tests in any subject.
        It's flexible enough to cover all main test formats and can be used for individual or group exam preparation.
    </p>

    <p>The source code is available on <a href="https://github.com/OlegPozovnoy/ASPNET_Assignment1">Github</a></p>

    <p>Bootstrap Readable theme came from <a href="https://bootswatch.com/3/readable/">https://bootswatch.com/3/readable/</a></p>
</div>
